<template>
  <section id="Experience" class="section is-small">
    <div class="container">
      <div class="columns is-vcentered">
        
        <div class="column">
          <div class="is-flex is-justify-content-left is-align-items-center is-flex-row">
            <hr class="is-flex-grow-5"/>
            <h1 class="title is-3 has-text-white mb-0 pl-5">
              <span class="has-text-primary">01.</span>
              Experience 
            </h1>
          </div>

          <table class="table is-bordered is-fullwidth" style="background-color: inherit;">
            <thead>
              <tr>
                <th class="has-text-grey-lighter">Company</th>
                <th class="has-text-grey-lighter">Position</th>
                <th class="has-text-grey-lighter">Exp.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="has-text-grey-lighter">Ion Engineering Pvt. Ltd.</th>
                <th class="has-text-grey-lighter">Sole IT Officer & Programmer</th>
                <th class="has-text-grey-lighter">3Y+</th>
              </tr>
              <tr>
                <th class="has-text-grey-lighter">link3 technologies</th>
                <th class="has-text-grey-lighter">IT Support Specialist</th>
                <th class="has-text-grey-lighter">2Y+</th>
              </tr>
            </tbody>
          </table>

          <br/>
        </div>

        <div class="column">
          <div class="mt-0 has-text-left">
            <h2 class="title has-text-grey-lighter is-2 mt-0">05+ Years</h2>
            <h4 class="subtitle has-text-grey-light is-5">of Professional Experience in Networking & Engineering Industry</h4>
          </div>
        </div>

      </div>
    </div>
  </section>
</template>
<style scoped>
hr {
  height: 1px;
}
.profileContainer {
  max-width: 260px;
  max-height: 325px;
  border: 3px solid #6ff9da;
  border-radius: 3px;
}
figure {
  position: relative;
  top: -15px;
  left: -15px;
  border-radius: 5px;
  border: 0.1px solid #fff;
}
img {
  border-radius: 5px;
}
</style>